
module "listAccounts" {
  source                  = "./aws_org_listaccounts"
  count                   = length(var.business_lines_parent_id)
  bl_parent_id_template   = var.business_lines_parent_id[count.index]
}
#-----------------------------------------------------

module "switchRole" {
  source                      = "./aws_switch_role"
  providers = {
    {%- for accountId in account  %}
    aws.{{accountId}}                       = aws.switchAccount-{{accountId-}}  
    {% endfor %}
  }

  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  teamproject                 = var.teamproject
  logs_cloudwatch_retention   = var.logs_cloudwatch_retention
  logs_s3_retention           = var.logs_s3_retention
  bl                          = var.bl
  count                       = length(local.list_accounts_ids)
  accountId                   = local.list_accounts_ids[count.index]
  accountRunPipeline          = data.aws_caller_identity.current.account_id
#  role_transversalRole        = var.role_transversalRole
}
#-----------------------------------------------------