

module "switchRole-{{account}}" {
  source                      = "./aws_switch_role"
  providers = {
    aws                       = aws.switchAccount-{{account}}  
  }

  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  teamproject                 = var.teamproject
  logs_cloudwatch_retention   = var.logs_cloudwatch_retention
  logs_s3_retention           = var.logs_s3_retention
  bl                          = var.bl
  count                       = length(local.list_accounts_ids)
  accountId                   = local.list_accounts_ids[count.index]
  accountRunPipeline          = data.aws_caller_identity.current.account_id
#  role_transversalRole        = var.role_transversalRole
}
#-----------------------------------------------------