module "logdns-{{account}}" {
  source                      = "./aws_dns_logging"
  providers = {
    aws                       = aws.logdns-{{account}} 
  }
  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  teamproject                 = var.teamproject
  logs_cloudwatch_retention   = var.logs_cloudwatch_retention
  logs_s3_retention           = var.logs_s3_retention
  bl                          = var.bl
  accountRunPipeline          = data.aws_caller_identity.current.account_id
  dnsLog_s3_bucket            = var.dnsLog_s3_bucket
  sharedQueryLogging          = var.sharedQueryLogging
}
#-----------------------------------------------------

module "encrypt-{{account}}" {
  source    = "./aws_org_acc_encryption"
  count = var.aws_env != "dev" ? 1 : 0
  providers = {
    aws                       = aws.encrypt-{{account}} 
  }
  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  bl                          = var.bl
  accountRunPipeline          = data.aws_caller_identity.current.account_id
}
#-----------------------------------------------------

module "config-{{account}}" {
  source    = "./aws_org_acc_config"
  providers = {
    aws                       = aws.config-{{account}} 
  }
  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  bl                          = var.bl
  accountRunPipeline          = data.aws_caller_identity.current.account_id
}
#-----------------------------------------------------

module "ssm-{{account}}" {
  source    = "./aws_org_acc_ssm"
  providers = {
    aws                       = aws.ssm-{{account}} 
  }
  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  bl                          = var.bl
  accountRunPipeline          = data.aws_caller_identity.current.account_id
}
#-----------------------------------------------------