module "encrypt-{{account}}" {
  source    = "./aws_org_acc_encryption"
  count = var.aws_env != "dev" ? 1 : 0
  providers = {
    aws                       = aws.encrypt-{{account}} 
  }
  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  bl                          = var.bl
  accountRunPipeline          = data.aws_caller_identity.current.account_id
}
