module "ssm-{{account}}" {
  source    = "./aws_org_acc_ssm"
  providers = {
    aws                       = aws.ssm-{{account}} 
  }
  shortEnv                    = substr("${var.aws_env}", 0, 1)
  region                      = var.region_short
  aws_region                  = var.region
  appstackcode                = var.appstackcode
  bl                          = var.bl
  accountRunPipeline          = data.aws_caller_identity.current.account_id
}
